extends layout
block content
	.container
		#tools.row
			.btn-group.left10
				button.btn.btn-primary.dropdown-toggle(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")显示折线统计图
					span.caret
				ul.dropdown-menu
					li
						a(href='#' ng-click='showPlot(1,20)') 最近20期
					li
						a(href='#' ng-click='showPlot(1,50)') 最近50期
					li
						a(href='#' ng-click='showPlot(1,100)') 最近100期
					li
						a(href='#' ng-click='showPlot(1,150)') 最近150期
			.btn-group.left10
				button.btn.btn-primary.dropdown-toggle(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")各球频次统计图
					span.caret
				ul.dropdown-menu
					li
						a(href='#' ng-click='showFrequency(1,20)') 最近20期
					li
						a(href='#' ng-click='showFrequency(1,50)') 最近50期
					li
						a(href='#' ng-click='showFrequency(1,100)') 最近100期
					li
						a(href='#' ng-click='showFrequency(1,150)') 最近150期
			.btn-group.left10
				button.btn.btn-primary.dropdown-toggle(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")奇偶比统计图
					span.caret
				ul.dropdown-menu
					li
						a(href='#' ng-click='showEvenOdd(1,20)') 最近20期
					li
						a(href='#' ng-click='showEvenOdd(1,50)') 最近50期
					li
						a(href='#' ng-click='showEvenOdd(1,100)') 最近100期
					li
						a(href='#' ng-click='showEvenOdd(1,150)') 最近150期
	.panel.panel-default
		.panel-heading 每期号码折线统计图
		.panel-body
			div#container.container
	.panel.panel-default
		.panel-heading 红球频次统计图
		.panel-body
			div#img1.container
	.panel.panel-default
		.panel-heading 篮球频次统计图
		.panel-body
			div#img2.container
	.panel.panel-default
		.panel-heading 奇偶比统计图
		.panel-body
			div#img3.container
	.panel.panel-default
		.panel-heading XXX
		.panel-body
			div#img4.container			
	include footer.jade