extends layout
block content
	.container
		#tools.row
			.btn-group.left10
				button.btn.btn-primary.dropdown-toggle(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")显示折线统计图
					span.caret
				ul.dropdown-menu
					li
						a(href='#' ng-click='showPlot(1,20)') 最近20期
					li
						a(href='#' ng-click='showPlot(1,50)') 最近50期
					li
						a(href='#' ng-click='showPlot(1,100)') 最近100期
					li
						a(href='#' ng-click='showPlot(1,150)') 最近150期
			.btn-group.left10
				button.btn.btn-info.dropdown-toggle(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")各球频次统计图
					span.caret
				ul.dropdown-menu
					li
						a(href='#' ng-click='showFrequency(1,20)') 最近20期
					li
						a(href='#' ng-click='showFrequency(1,50)') 最近50期
					li
						a(href='#' ng-click='showFrequency(1,100)') 最近100期
					li
						a(href='#' ng-click='showFrequency(1,150)') 最近150期
	div#container.container
	p.clearp
	div#img1.container
	p.clearp
	div#img2.container
	p.clearp
	div#img3.container
	p.clearp
	div#img4.container
	include footer.jade