extends layout
block content
	.container
		#tools.row
			.btn-group
				button.btn.btn-primary.dropdown-toggle(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")显示统计图
					span.caret
				ul.dropdown-menu
					li
						a(href='#' ng-click='showPlot(2,20)') 最近20期
					li
						a(href='#' ng-click='showPlot(2,50)') 最近50期
					li
						a(href='#' ng-click='showPlot(2,100)') 最近100期
					li
						a(href='#' ng-click='showPlot(2,150)') 最近150期
	div#container.container
	include footer.jade