doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='icon', href='/images/favicon.ico')
		title= app_name
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/navbar-fixed-top.css')
		link(rel='stylesheet', href='/stylesheets/signin.css')
		link(rel='stylesheet', href='/stylesheets/jumbotron.css' )
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/style.css' )
		script(src='/javascripts/jquery-1.11.1.min.js')
		script(src='/javascripts/bootstrap.min.js') 
		script(src='/javascripts/index.js') 
		script(src='/json/allunivlist.js') 
		script(src='/javascripts/underscore/underscore.js') 
	body
	block content
