doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='icon', href='/images/favicon.ico')
		title= app_name
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/navbar-fixed-top.css')
		link(rel='stylesheet', href='/stylesheets/signin.css')
		link(rel='stylesheet', href='/stylesheets/jumbotron.css' )
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/style.css' )
		script(src='http://apps.bdimg.com/libs/jquery/1.8.0/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js') 
		script(src='/javascripts/underscore/underscore.js')
		script(src='http://apps.bdimg.com/libs/angular.js/1.4.0-beta.4/angular.min.js')
		script(src="http://cdn.hcharts.cn/highcharts/highcharts.js")
		script(src='/javascripts/index.js') 
		script.
			var cpro_id = "u2125047";
		script(src='http://cpro.baidustatic.com/cpro/ui/f.js')
		script.
			var cpro_id="u2125047";
			(window["cproStyleApi"] = window["cproStyleApi"] || {})[cpro_id]={at:"3",rsi0:"1000",rsi1:"70",pat:"6",tn:"baiduCustNativeAD",rss1:"#FFFFFF",conBW:"1",adp:"1",ptt:"0",titFF:"%E5%BE%AE%E8%BD%AF%E9%9B%85%E9%BB%91",titFS:"14",rss2:"#000000",titSU:"0",ptbg:"90",piw:"0",pih:"0",ptp:"0"}
		script(src="http://cpro.baidustatic.com/cpro/ui/c.js")
	body(ng-app="dcapp" ng-controller='MainCtrl')
		div.navbar.navbar-inverse.navbar-fixed-top
				div.container
					div.navbar-header
						a.navbar-brand(href='/') 蜗牛福彩数据统计
					ul.nav.navbar-nav.navbar-left.hidden-sm
						li.dropdown
							a.dropdown-toggle(data-toggle="dropdown",aria-expanded="false") 图表统计
							ul.dropdown-menu
								li 
									a(href='ssq/img') 双色球统计
								li
									a(href='dlt/img') 大乐透统计
	block content
	