a {
  color: #00B7FF;
}

a::hover{
  cursor: pointer;
}
.index_body span
{
  text-align: center;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 51px;
  height: 51px;
}
.panel-primary {
  margin-top: 10px;
}
.r .a{
  background: url("../images/ball_bg.png") 0 0 no-repeat;
  width: 37px;
  height: 37px;
  margin-left: 40%;
}

.b .a{
  background: url("../images/ball_bg.png") 0 -37px no-repeat;
  width: 37px;
  height: 37px;
  margin-left: 40%;
}

.index_body span
{
  height: 37px;
}
.a
{
  margin-top: 8px;
  color:white;
}
.colspan{
  width: 14.285%;
  margin-left:0!important;
}
.colspan p{
    padding-top: 6px;
}
.row
{
  margin-left: 0 !important;
}